<h1>SMS sending report<small>(unsend)</small></h1>

<table>
<% @appointment.each do |app| %>
  <tr>
    <td><%= app.fullname %></td>
    <td><%= app.phone %></td>
    <td><%= app.appointment_when %></td>
    <td><%= app.appointment_date %></td>
    <td><%= "unsend" if app.flag==0 %></td>
  </tr>
<% end %>
</table>
