<h1>SMS sending report<small> (unsend) </small></h1>
<div class="delmsg">
<%= link_to "Delete all Unsend Messages" ,"/appointment/delmsg"  %>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">When</th>
    <th scope="col">Date</th>
  </tr>
</thead>
<tbody>
<% @appointment.each do |app| %>
  <tr>
    <td><%= app.id %></td>
    <td><%= app.fullname %></td>
    <td><%= app.phone %></td>
    <td><%= app.appointment_when %></td>
    <td><%= app.appointment_date %></td>
  </tr>
<% end %>
</tbody>
</table>
